@import url('https://fonts.googleapis.com/css2?family=Lora|Lora|Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root{
--brand-black: rgb(27,27,28);
--brand-dark-gray: rgb(54,50,51);
--brand-light-gray: rgb(104,102,103);
--brand-yellow: rgb(248,216,101);
--brand-white: rgb(255,255,255);
}

body{
    font-family: 'Lora', serif;
    font-size: 100%;
    background-color: var(--brand-white);
    margin: 0;
}

/* -- text -- */

h1{
    font-size: 4em;    
    text-align: center;
    font-weight:600;
    margin: 0;
}

.quote{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em 1em;
    color: rgb(150,150,150)  
}

.body-text { 
    font-size: 2em;
    text-align: center;   
}

/* ---------- */

/* -- layout -- */

.container-fluid{
    border: 0px solid white;
    padding:0;
}

.container-hero{
    border:3px solid white;
    padding: 0 1em 2em 1em;
}

.container-lg{ 
    border: 3px solid white;
    background-color: rgb(255,255,255);
    
    overflow: auto;
    margin-bottom: 1.5em;
    
}

.col-lg-7, .col-lg-5{
    border: 0px solid white;
}

.row{
    border: 0px solid blue
    padding: 1em 0 1em 0;
}

/* ---------- */

/* -- images -- */

.part-img{
    max-width: 75%;
    margin: auto;
    display: block;
}

/* -- footer -- */

.footer-content{
    background-color: var(--brand-dark-gray);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color: var(--brand-light-gray);
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
}

/* -- navigation --*/

.navbar{
    background-color: var(--brand-white);
    border-bottom: 0.5px solid white;
}

.nav-item:hover{
    background-color:var(--brand-yellow);
}

.nav-link{
    font-size: 1.5em;
    color: black;
}

.nav-link:hover{
    color:var(--brand-white);
}

.btn-outline{
    border: 1px solid white;
    padding: 0 1em;
}

.btn-outline:hover{
    background-color: var(--brand-yellow)
}

/* ---------- */

@media only screen and (max-width: 768px) {
    
    .body-text , .quote{
        font-size:1.5em;
    }
    h1{
        font-size: 2em;
    }
} 

@media only screen and (max-width: 576px) {
    
    .part-img{
        max-width: 100%;
    }
}
