@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&display=swap');

:root{
--brand-black: rgb(27,27,28);
--brand-dark-gray: rgb(70,67,68);
--brand-light-gray: rgb(104,102,103);
--brand-yellow: rgb(248,216,101);
--brand-white: rgb(255,255,255);
}

/* --- Header --- */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("heroimage(draft three).png");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    margin-top: -30px;
}

.hero-text {
    font-size: 500%;
    font-weight:400;
    letter-spacing: -5px;
    text-align: center;
    color: var(--brand-yellow);
}

.hero-subtitle {
    font-size:190%;
    font-weight:100;
    letter-spacing: 8px;
    text-align: center;
    color: var(--brand-dark-gray);
    margin: 0;
    overflow: auto;
}

a.btn, a.btn-circle {
    text-decoration: none;   
}

.btn-primary, .btn-primary:hover {
    color:var(--brand-dark-gray);
    background-color:var(--brand-yellow);
    border-color:var(--brand-dark-gray); 
}

.btn, .btn-circle {
    display:inline-block;
    margin:auto;
    text-align: center;
    letter-spacing: 2px;
    color: var(--brand-white);
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 1.5em 2.5em;
    transition: color 0.5s ease-in-out,background-color 1s ease-in-out,border-color 0.5s ease-in-out,box-shadow 1s cubic-bezier(.019,1,.22,1);
    position:relative;
}

.animate, a.link-animate:before {
    animation-duration: 1s;
    animation-delay: .15s;
    animation-timing-function: cubic-bezier(.019,1,.22,1);
    animation-fill-mode: both;
}

.btn-overlay {
    position:relative;
    text-align:center;
    transform: translateY(22%);
}

/* --- Body --- */

body{
    font-family: 'Roboto', serif;
    font-size: 100%;
    background-color: var(--brand-white);
    margin: 0;
}

.body-text { 
    font-size: 2em;
    text-align: center;   
}

p {
    text-align: center;
    color: var(--brand-white);
    margin: 0;
    overflow: auto;
    line-height: 50px;
    
}

/* --- Text --- */

h1{
    font-size: 4em;    
    text-align: center;
    font-weight:600;
    margin-bottom:-30px;
    margin-top: 0;
    padding-bottom: 0.5em;
    color: var(--brand-white);
}

h3{
    padding-bottom: -0.5em;
}

.aboutus{
    font-size: 4em;    
    text-align: center;
    font-weight:600;
    margin: 0;
    color: var(--brand-black);
    padding: 0 0 0.5em 0;
}

.quote{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em 1em;
    color: rgb(150,150,150);  
}

/* --- Media --- */

.part-img{
    max-width: 75%;
    margin: auto;
    display: block;
}

/* --- Nav --- */

.navbar{
    background-color: var(--brand-dark-gray);
    border-bottom: 1em solid white;
}

.nav-item:hover{
    background-color:var(--brand-yellow);
}

.nav-link{
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--brand-white);
}

.nav-link:hover{
    color:var(--brand-white);
    background-color:var(--brand-yellow)
}

.nav-btn-outline{
    border: 0 solid white;
    padding: 0 1em;
}

.nav-btn-outline:hover{
    background-color: var(--brand-yellow);
}

/*--- Layout --- */

.container-fluid{
    padding:0;
}

.container-m{
    background-color: rgb(255,255,255);
    overflow:auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.container-hero{
    border:3px solid white;
    padding: 0 1em 2em 1em;
}

.col-lg-7, .col-lg-5, .col-lg-4{
    border: 0px solid white;
}

.row{
    border: 0px solid blue;
    padding: 1em 0 1em 0;
}

.welcome-bg {
    background-color: var(--brand-light-gray);
}

/*--- Footer --- */

.footer-content{
    background-color: var(--brand-dark-gray);
    text-align: center;
    padding: 1em 0 0.5em 0;
    color: var(--brand-white);
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

/* --- Media Queries --- */

@media only screen and (max-width: 768px) {
    
    .body-text , .quote{
        font-size:1.5em;
    }
    h1{
        font-size: 2em;
    }
} 

@media only screen and (max-width: 576px) {
    
    .part-img{
        max-width: 100%;
    }
}
