@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&display=swap');

:root{
--brand-black: rgb(27,27,28);
--brand-dark-gray: rgb(70,67,68);
--brand-light-gray: rgb(104,102,103);
--brand-yellow: rgb(248,216,101);
--brand-white: rgb(255,255,255);
}

/* --- Header --- */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("heroimage(draft three).png");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    margin-top: -30px;
}

.hero-text {
    font-size: 500%;
    font-weight:400;
    letter-spacing: -5px;
    text-align:center;
    color: var(--brand-yellow);
}

.hero-subtitle {
    font-size:190%;
    font-weight:100;
    letter-spacing: 8px;
    padding-bottom: -0.5em;
    text-align: center;
    color: var(--brand-dark-gray);
    margin: 0;
    overflow: auto;
}

a.btn, a.btn-circle {
    text-decoration: none;   
}

.btn-primary, .btn-primary:hover {
    color:var(--brand-dark-gray);
    background-color:var(--brand-yellow);
    border-color:var(--brand-dark-gray); 
}

.btn, .btn-circle {
    display:inline-block;
    margin:auto;
    text-align: center;
    letter-spacing: 2px;
    color: var(--brand-white);
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 1.1em 1.3em 1.1em 1.5em;
    transition: color 0.5s ease-in-out,background-color 0.5s ease-in-out,border-color 0.5s ease-in-out,box-shadow 1s cubic-bezier(.019,1,.22,1);
    position:relative;
}

.btn-overlay {
    position:relative;
    text-align:center;
    transform: translateY(21%);
}

#debatingbutton {
    transition: none !important;
    border-radius: 2px;
    background-color: var(--brand-white);
    color:var(--brand-dark-gray);
    border-color:var(--brand-dark-gray);
    position: absolute;
    bottom: 50px;
    left: 60px;
    text-align:center;
    display:inline;
    padding: 0.9em 3.4em 0.9em 3.55em;
}

#publicspeakingbutton {
    transition: none !important;
    border-radius: 2px;
    background-color: var(--brand-white);
    color:var(--brand-dark-gray);
    border-color:var(--brand-dark-gray);
    position: absolute;
    bottom: 50px;
    left: 300px;
    text-align:center;
    display:inline;
    padding: 0.9em 1.1em 0.9em 1.3em;
}

.parallax-container {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#parallax1 {
    background-image: url("images/MarsdenAndWC - Edited.png");
}

#parallax2 {
    background-image: url("images/chloespeaking - Edited.png");
}

#parallax3 {
    background-image: url(images/WC+KCPremA - Edited.png);
}

/* --- Body --- */

body{
    font-family: 'Roboto', serif;
    font-size: 100%;
    background-color: var(--brand-white);
    margin: 0;
}

.body-text { 
    font-size: 2em;
    text-align: center;   
}

p {
    text-align: center;
    color: var(--brand-white);
    margin: 0;
    overflow: auto;
}

.quote{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em;
    color: rgb(150,150,150);
    margin-bottom:-0.5em;
}

/* --- Text --- */

.welcome-heading {
    font-size: 5em;    
    text-align: center;
    font-weight:600;
    margin-top: 0;
    margin-bottom: -30px;
    padding-top:0.5em;
    padding-bottom:0.6em;
    color: var(--brand-white);
}

.welcome-text {
    text-align:left;
    color: var(--brand-white);
    margin:auto;
    max-width:600px;
    line-height:30px;
    padding-bottom:0em;
    }

.aboutus-heading {
    font-size: 4em;    
    text-align: center;
    font-weight:600;
    margin: 0;
    color: var(--brand-dark-gray);
    padding: 0.5em 0 0.5em 0;
    background-color:var(--brand-yellow)
}

.aboutus-text {
    text-align:center;
    color: var(--brand-dark-gray);
    margin:auto;
    text-overflow:auto;
    line-height:20px;
    max-width:45%;
}

.page-header {
    font-size: 7em;
    text-align:center;
    font-weight:400;
    margin:auto;
    color: var(--brand-white);
    padding: 0.5em;
    position: absolute;
    bottom: 80px;
    left: 0;
}

.page-title {
    font-size: 4em;
    text-align: center;
    font-weight:500;
    margin:auto;
    padding: 0.5em;
}

#competition-title-1 {
    color: var(--brand-black);
}

#competition-title-2 {
    color: var(--brand-yellow);
}

#resources-title-1 {
    color:var(--brand-white);
    background-color:rgba(248,216,101,.8);
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    padding:2em;
}

.page-subheading {
    font-size: 1.5em;
    text-align: center;
    font-weight:500;
    margin:auto;
    line-height:80%;
    padding-bottom: 1em;
    padding-top: 0.4em;
}

#competition-subheading-1 {
    color: var(--brand-dark-gray);
}

#competition-subheading-2 {
    color: var(--brand-light-gray);
}

#news-subheading {
    color: var(--brand-white);
    vertical-align: top;
}

#resources-subheading {
    color:var(--brand-white);
}

.competition-text-1 {
    text-align:center;
    color: var(--brand-light-gray);
    margin:auto;
    text-overflow:auto;
    line-height:20px;
    max-width:90%;
}

.competition-text-2 {
    text-align:center;
    color: var(--brand-dark-gray);
    margin:auto;
    text-overflow:auto;
    line-height:20px;
    max-width:50%;
}

/* --- Media --- */

.part-img{
    max-width: 80%;
    height:auto;
    margin: auto;
    display:block;
}

.img-fluid {
    max-width:100%;
}

.resources-img{
    width: 550px;
    margin: auto;
    text-align:center;
    display: block;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.circular-image {
    border-radius: 50%;
    height:auto;
    margin:auto;
    display:block;
    padding-top:2em;
    padding-bottom:2em;
}

#debatingcompetitions {
    max-width: 70%;
}

#publicspeakingcompetitions {
    max-width: 35%;
}

/* --- Nav --- */

.navbar{
    background-color: var(--brand-dark-gray);
    border-bottom: 1em solid white;
}

.nav-item:hover{
    background-color:var(--brand-yellow);
}

.nav-link{
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--brand-white);
    transition: color 0s ease-in-out,background-color 0s ease-in-out,border-color 0s ease-in-out;
}

.nav-link:hover{
    color:var(--brand-white);
    background-color:var(--brand-yellow);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.nav-btn-outline{
    border: 0 solid white;
    padding: 0 0.5em;
}

.nav-btn-outline:hover{
    background-color: var(--brand-yellow);
}

/*--- Layout --- */

.welcome-bg {
    background-color: var(--brand-light-gray);
}

.welcome-box{
    text-align: center;
    background-color:rgba(248,216,101,.8);
    transform: translateX(150px);
    max-width:48%;
    padding-bottom:3em;  
}

.competition-bg-1{
    background-color: var(--brand-yellow);
}

.competition-bg-2{
    background-color: var(--brand-light-gray);
}

.container-fluid{
    padding:0;
}

.container-m{
    background-color: rgb(255,255,255);
    overflow:auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.container-hero {
    border:3px solid white;
    padding: 0 1em 2em 1em;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container {
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    border-radius:3%;
    margin-left:1em;
    margin-right:1em;
    margin-top: 10px;
    padding: 5px;
}

#upcoming-container {
    min-width: 900px;
    padding-bottom:2em;
}

#recent-container {
    min-width: 200px;
}

.col-lg-7, .col-lg-5, .col-lg-6 {
    border: 0px solid white;
}

.col-md-4{
    border: 0px solid white;
    padding-top:2em;
    padding-bottom: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding:8px;
    margin-left:8em;
    margin-right:8em;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:15px;
    font-size: 30px;
}

.row {
    border: 0px solid blue;
    padding: 1em 0 1em 0;
}

#news-row {
    padding: 1em 1em 1em 1em;
}

.aboutus-card{
    box-shadow: 0 4px 8px 0 rgba(70,67,68,0.4);
    transition: 0.3s; 
    max-width:80%;
    height: 100% !important;
    margin: auto;
    padding-top:2em;
}

.aboutus-card:hover {
    box-shadow: 0 8px 16px 0 rgba(70,67,68,0.4);
}

.aboutus-container{
    padding: 10px 2px 30px 2px;
    align-items:stretch;
}

.aboutus-button {
    border: 1px solid transparent;
    outline: 0;
    display:block;
    letter-spacing: 2px;
    color:var(--brand-dark-gray);
    vertical-align: middle;
    user-select: none;
    margin:auto;
    background-color:var(--brand-yellow);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0.75em 0.5em 0.75em 0.5em;
}

.aboutus-button:hover {
    opacity: 0.7;
    color:var(--brand-light-gray);
}

.card {
    --bs-card-border-color:0px white;
}

#news-card {
    padding:0.5em;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.card-title {
    text-align:center;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 95%;
    background:var(--brand-dark-gray);
    text-align: center;
    margin:auto;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: auto;
    width:95%;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: auto;
    width:95%;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/*--- Footer --- */

.footer-content{
    background-color: var(--brand-dark-gray);
    text-align: center;
    padding: 1em 0 0.25em 0;
    color: var(--brand-white);
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.footer-content p:nth-child(2){
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding-bottom: 0.25em;
}

.footer-link{
    font-size:1em;
    padding: 0.25em;
    color: var(--brand-white);
}

.footer-link:hover{
    color:var(--brand-yellow)
}

/* --- Media Queries --- */

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 991px){
    .welcome-box{
        transform: translateX(0);  
    }
}

@media only screen and (max-width: 768px) {
    .body-text , .quote{
        font-size:1.5em;
    }
    h1{
        font-size: 2em;
    }
} 

@media only screen and (max-width: 576px) {
    
    .part-img{
        max-width: 100%;
    }
    
}
