{% extends "layout.html" %}

{% block title %}
Competitions
{% endblock %}

{% block content %}

<section class="parallax-container parallax1">
    <h1>competitions</h1>
    <h1>learn more about competitions</h1>
</section>

<div class="quote">
    WSU organises a number of competitions throughout the calendar year.
</div>

<div class="container-m container-fluid" id="debating">

    <h1 class="page-title yellow-bg competition-title-1">debating</h1>

    <div class="card-group">

      <div class="card">
        <img class="circular-image debatingcompetitions" src="/static/images/Competitions_Divya.png">
        <div class="card-body">
          <h1 class="page-subheading competition-subheading-1">Regionals</h1>
          <p class="card-text competition-text-1">The New Zealand School’s Debating Council (NZSDC) runs annual
              regional competitions to select teams for Nationals. Students of any ability from Years 9 to 13
              are able to participate in the largest competition of Wellington’s debating calendar.</p>
        </div>
      </div>

      <div class="card">
        <img class="circular-image debatingcompetitions" src="/static/images/Competitions_Gloria.png">
        <div class="card-body">
          <h1 class="page-subheading competition-subheading-1">Impromptu Cup</h1>
          <p class="card-text competition-text-1">The Wellington Speaking Union (WSU) runs the annual Impromptu Cup tournament
              for senior students. Students compete in teams of two with only 10 minutes preparation time. </p>
        </div>
      </div>

      <div class="card">
        <img class="circular-image debatingcompetitions" src="/static/images/Competitions_Chloe.png">
        <div class="card-body">
          <h1 class="page-subheading competition-subheading-1">British Parliamentary</h1>
          <p class="card-text competition-text-1">NZSDC may elect to run a British Parliamentary tournament for senior
              students. Each debate hosts four competing teams of two who only receive 30 minutes
              preparation. </p>
        </div>
      </div>

        <div class="card">
        <img class="circular-image debatingcompetitions" src="/static/images/Competitions_Henry.png">
        <div class="card-body">
          <h1 class="page-subheading competition-subheading-1">Junior Development</h1>
          <p class="card-text competition-text-1">The annual Junior Development Competition (also known as “The Moot Must Fall Student
              Tournament”) is available to debaters of any ability from Years 9 to 11. Students are placed in
              mixed school teams, with a varied age and debating experience.</p>
        </div>
      </div>

    </div>

</div>

<div class="container-m container-fluid">

    <h1 class="page-title dark-gray-bg competition-title-2">public speaking</h1>

    <div class="card-group w-50 mx-auto">

      <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_Elke.png">
        <div class="card-body">
          <h1 class="page-subheading competition-subheading-2">Dunsheath Shield</h1>
          <p class="card-text competition-text-1">The Dunsheath Shield is a public speaking competition organised and hosted
                  by the WSU for junior students.</p>
        </div>
      </div>

        <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_Henry_2.png">
        <div class="card-body">
          <h1 class="page-subheading competition-subheading-2">Stockley Cup</h1>
          <p class="card-text competition-text-1">The Stockley Cup is a public speaking competition organised
                  and hosted by the WSU for senior students.</p>
        </div>
      </div>

    </div>

</div>

<div class="container-m container-fluid">

    <h1 class="page-title yellow-bg competition-title-1">intercollegiate</h1>

    <div class="card-group w-75 mx-auto">

      <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_WCPremA.jpg">
        <div class="card-body">
            <a class="a-resources" href="{{url_for('premieradvanced', grade="Prem A")}}">Premier Advanced</a>
        </div>
      </div>

      <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_WGCTeam.jpg">
        <div class="card-body">
            <a class="a-resources" href="{{url_for('premieradvanced', grade="Prem B")}}">Premier B</a>
        </div>
      </div>

      <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_MCSpeaking.jpg">
        <div class="card-body">
            <a class="a-resources" href="{{url_for('premieradvanced', grade="Junior Prem")}}">Junior Premier</a>
        </div>
      </div>

    </div>

    <div class="card-group w-50 mx-auto">

      <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_ArushiPOI.jpg">
        <div class="card-body">
            <a class="a-resources" href="{{url_for('premieradvanced', grade="Senior Cert")}}">Senior Certificate</a>
        </div>
      </div>

        <div class="card">
        <img class="circular-image publicspeakingcompetitions" src="/static/images/Competitions_JCertMarsden.jpg">
        <div class="card-body">
            <a class="a-resources" href="/juniorcert">Junior Certificate</a>
        </div>
      </div>

    </div>

</div>

{% endblock %}
