{% extends "layout.html" %}

{% block title %}
Competitions
{% endblock %}

{% block content %}

<section class="parallax-container" id="parallax1">
    <h1 class="page-header">competitions</h1>
</section>

<div class="container-m container-fluid">
  <div class="row align-items-start">

  <div class="col-md-6 competition-bg-1">

    <h1 class="competition-title-1">debating</h1>

      <div class="row">
          <div class="col-md-6">
              <img class="part-img" src="static/images/divyacertificate - Edited.png">
          </div>
          <div class="col-md-6">
              <h1 class="competition-subheading-1">regionals</h1>
              <p class="competition-text-1">Regionals is an annual debating tournament for Years 9 to 13.
                  Students of any ability are able to participate in Wellington's largest debating
                  competition on the calendar.</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <img class="part-img" src="static/images/GloriaSpeaking - Edited.png">
          </div>
          <div class="col-md-6">
              <h1 class="competition-subheading-1">impromptu cup</h1>
              <p class="competition-text-1">Impromptu cup is an annual competition for Years 9 to 13.
                  Students are only given 10 minutes to prepare their team's case, and they are in teams of two. </p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <img class="part-img" src="static/images/chloe certificate - Edited.png">
          </div>
          <div class="col-md-6">
              <h1 class="competition-subheading-1">british parliamentary</h1>
              <p class="competition-text-1">The Wellington British Parliamentary Tournament invites debaters from Year 9
                  to 13 to try the British Parliamentary debating format. Students are placed in teams of two,
                  with four teams per each debate.</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <img class="part-img" src="static/images/henspeakingmmf - Edited.png">
          </div>
          <div class="col-md-6">
              <h1 class="competition-subheading-1">moot must fall</h1>
              <p class="competition-text-1">Moot Must Fall is a recently created debating tournament pitched as a
                  Junior Development tournament. It is done in collaboration with senior debaters around Wellington,
                  and Wellington Speaking Union. It is open to Years 9 to 11.</p>
          </div>
      </div>

  </div>

  <div class="col-md-6 competition-bg-2">
      <h1 class="competition-title-2">public speaking</h1>

      <div class="row">
          <div class="col-md-6">
              <img class="part-img" src="static/images/ElkeSpeaking1 - Edited.png">
          </div>
          <div class="col-md-6">
              <h1 class="competition-subheading-2">dunsheath shield</h1>
              <p class="competition-text-2">The Dunsheath Shield is a public speaking competition open to
                  Years 7 to 9. The best public speakers from each school are invited to participate,
                  and give a speech of 5 to 6 minutes.</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <img class="part-img" src="static/images/BaySpeaking2 - Edited.png">
          </div>
          <div class="col-md-6">
              <h1 class="competition-subheading-2">stockley cup</h1>
              <p class="competition-text-2">The Stockley Cup is a public speaking competition open to Years 9 to 13.
                  The best public speakers from each school are invited to participate, and give a speech of 7 to 8
                  minutes.</p>
          </div>
      </div>
  </div>

  </div>
</div>

{% endblock %}
