{% extends "layout.html" %}

{% block title %}
Competitions
{% endblock %}

{% block content %}

<section class="parallax-container" id="parallax1">
    <h1 class="page-header">competitions</h1>
</section>

<div class="container-m container-fluid ">

    <h1 class="competition-title-1 competition-bg-1">debating</h1>

    <div class="card-group">

      <div class="card">
        <img class="part-img circular-image" src="/static/images/divyacertificate%20-%20Edited.png">
        <div class="card-body">
          <h1 class="competition-subheading-1">regionals</h1>
          <p class="card-text">Regionals is an annual debating tournament for Years 9 to 13.
                      Students of any ability are able to participate in Wellington's largest debating
                      competition on the calendar..</p>
        </div>
      </div>

      <div class="card">
        <img class="part-img circular-image" src="/static/images/GloriaSpeaking%20-%20Edited.png">
        <div class="card-body">
          <h1 class="competition-subheading-1">regionals</h1>
          <p class="card-text">Regionals is an annual debating tournament for Years 9 to 13.
                      Students of any ability are able to participate in Wellington's largest debating
                      competition on the calendar..</p>
        </div>
      </div>

      <div class="card">
        <img class="part-img circular-image" src="/static/images/henspeakingmmf%20-%20Edited.png">
        <div class="card-body">
          <h1 class="competition-subheading-1">regionals</h1>
          <p class="card-text">Regionals is an annual debating tournament for Years 9 to 13.
                      Students of any ability are able to participate in Wellington's largest debating
                      competition on the calendar..</p>
        </div>
      </div>

        <div class="card">
        <img class="part-img circular-image" src="/static/images/chloe%20certificate%20-%20Edited.png">
        <div class="card-body">
          <h1 class="competition-subheading-1">regionals</h1>
          <p class="card-text">Regionals is an annual debating tournament for Years 9 to 13.
                      Students of any ability are able to participate in Wellington's largest debating
                      competition on the calendar..</p>
        </div>
      </div>

    </div>

</div>

{% endblock %}
