{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block content %}

    <div class="container-m">
    <h2 class="form-header"> <span> Log In </span></h2>
    <br>
    <h4 class="form-subheading"> Please enter your credentials </h4>
    </div>

<div class="form-container p-5">

  <div class="alert"> {{error}} </div>

  <form action="{{url_for('login')}}" method="POST">
    <div>
      <label for="email" class="form-label">Please enter your email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{email}}" required>
    </div>
      <br>
    <div>
      <label for="password" class="form-label">Please enter your password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="" value="{{password}}" required>
    </div>
    <br>
    <div class="text-end">
      <button type="reset" class="btn btn-primary recent-news-button">Reset</button>
      <button type="submit" class="btn btn-primary recent-news-button">Submit</button>
    </div>
  </form>

</div>

{% endblock %}
