{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block content %}

<section class="parallax-container parallax3">
    <h1>news</h1>
    <h1>keep up to date with upcoming and latest news</h1>
</section>

<div class="main-container">

  <div class="container yellow-bg">

    <h1 class="page-title news-title-1 news-title-1">upcoming</h1>

      <div class="inner-container upcoming-container">


        <div class="card-group">

            {% for row in schedule %}
              <div class="col-lg-4">
                  <div class="card news-card">
                    <img class="card-img-top" src="/static/images/HenSpeaking2%20-%20Edited.png">
                    <div class="card-body">
                      <h5 class="card-title">{{ row['event'] }}</h5>
                      <p class="card-text news-text">{{ row['description'] }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">{{ row['scheduledate'] }}</small>
                        <br>
                      <small class="text-muted">{{ row['location'] }}</small>
                    </div>
                  </div>
                </div>
            {% endfor %}

        </div>
      </div>

    </div>

  <div class="container light-gray-bg">

      <h1 class="page-title competition-title-2">recent</h1>

{% if session and session['authorisation'] == 0 %}
      <div class="py-2 text-center">
          <a class="btn btn-primary recent-news-button" href="{{ url_for('news_cud', id=0, task='add') }}">add news</a>
      </div>
{% endif %}

    <div class="inner-container recent-container">

        {% for row in news %}
        <div class="container-m recent-news-containers white-bg">
            <h1 class="recent-news-heading"> {{ row['title'] }} </h1>
            <hr>
            <h3 class="recent-news-subheading"> {{ row['subtitle'] }} </h3>
            <hr>
            <p class="recent-news-text"> {{ row['content'] | replace("\n", "<br>") | safe}} </p>
            <br>
            <div class="meta">
            <p class="meta-text">Posted by {{ row['firstname'] }} on {{ row['newsdate'] | news_date}}  </p>
{% if session and session['authorisation'] == 0 %}
            <a class="btn btn-primary recent-news-button" href="{{ url_for('news_cud', id=row['news_id'], task='update') }}">update</a>
            <a class="btn btn-primary recent-news-button" href="{{ url_for('news_cud', id=row['news_id'], task='delete') }}">delete</a>
{% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

  </div>

</div>

<br>

<!-- <div class="container-m container-fluid">
    <h1 class="page-title competition-title-1">calendar</h1>

    <div class="month">
  <ul>
    <li class="prev" style="list-style-type: none;">&#10094;</li>
    <li class="next" style="list-style-type: none;">&#10095;</li>
    <li style="list-style-type: none;">March 2023</li>
  </ul>
</div>

<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
</ul>

</div>
-->

{% endblock %}