{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block content %}

<section class="parallax-container parallax3">
    <h1>news</h1>
    <h1>keep up to date with upcoming and latest news</h1>
</section>

<div class="main-container">

  <div class="container yellow-bg">

    <h1 class="page-title news-title-1">upcoming </h1>

      {% if session and session['authorisation'] == 0 %}
      <div class="py-2 text-center">
          <a class="btn btn-primary recent-news-button" href="{{ url_for('schedule_cud', id=0, task='add') }}">add new event</a>
      </div>
      {% endif %}

      <div class="inner-container upcoming-container">

        <div class="card-group">

            {% for row in schedule %}
              <div class="col-lg">
                  <div class="card news-card">
                    <img class="card-img-top" src="/static/images/HenSpeaking2%20-%20Edited.png">
                    <div class="card-body">
                      <h5 class="card-title">{{ row['event'] }}</h5>
                      <p class="card-text news-text">{{ row['description'] }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">{{ row['location'] }}</small>
                      <small class="text-muted">on {{ row['scheduledate'] | schedule_date}}</small>
                        <br>
                    </div>
                        <br>
{% if session and session['authorisation'] == 0 %}
                  <a class="btn btn-primary schedule-button" href="{{ url_for('schedule_cud', id=row['post_id'], task='update') }}">update</a>
                  <a class="btn btn-primary schedule-button" href="{{ url_for('schedule_cud', id=row['post_id'], task='delete') }}">delete</a>
{% endif %}
                  </div>
             </div>
            {% endfor %}

        </div>
      </div>

    </div>

  <div class="container light-gray-bg">

      <h1 class="page-title competition-title-2">recent</h1>

    {% if session and session['authorisation'] == 0 %}
      <div class="py-2 text-center">
          <a class="btn btn-primary recent-news-button" href="{{ url_for('news_cud', id=0, task='add') }}">add news</a>
      </div>
    {% endif %}

    <div class="inner-container recent-container">

        {% for row in news %}
        <div class="container-m recent-news-containers white-bg">
            <h1 class="recent-news-heading"> {{ row['title'] }} </h1>
            <hr>
            <h3 class="recent-news-subheading"> {{ row['subtitle'] }} </h3>
            <hr>
            <p class="recent-news-text"> {{ row['content'] | replace("\n", "<br>") | safe}} </p>
            <br>
            <div class="meta">
            <p class="meta-text">Posted by {{ row['firstname'] }} on {{ row['newsdate'] | news_date}}  </p>
        {% if session and session['authorisation'] == 0 %}
            <a class="btn btn-primary recent-news-button" href="{{ url_for('news_cud', id=row['news_id'], task='update') }}">update</a>
            <a class="btn btn-primary recent-news-button" href="{{ url_for('news_cud', id=row['news_id'], task='delete') }}">delete</a>
            </div>
        {% endif %}

            <h3 id="{{ row['news_id'] }}">Comments</h3>
        {% for comment in row['Comments'] %}
            <div class="comment">
            <div>Posted by {{ comment['firstname'] }} on {{ comment['commentdate'] | news_date }} </div>
            <div>{{ comment['comment'] }}</div>
            <div>
                <a class="icon-button delete-button small-icon-button" href="{{ url_for('comment_cud', id=comment['comment_id'], task='delete') }}"></a>
            </div>
            </div>
        {% endfor %}
        {% endfor %}

            <div>
            {% if session and session['authorisation'] in [0,1] %}
            <form action="{{url_for('comment_cud', news_id=row['news_id'], member_id=session['id'],task='add')}}" method="POST">
                <div>
                    <label for="comment" class="form-label">Your comment</label>
                    <textarea class="form-control" id="comment" name="comment" rows="1" required>{{content}}</textarea>
                </div>
                <div class="text-end">
                   <button type="submit" class="btn btn-primary recent-news-button">Submit</button>
                </div>
            </form>
            {% endif %}
            </div>
        </div>

    </div>

  </div>

<br>

{% endblock %}