{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block content %}

<section class="parallax-container" id="parallax3">
    <h1 class="page-header">news</h1>
</section>

<div class="container-m container-fluid">
    <div class="welcome-bg">
        <div class="row align-items-center" id="news-row">
            <div class="col-lg-8">
                <h1 class="page-title" id="resources-title-1">upcoming</h1>
                <div class="row">
                    <div class="col-sm-4 d-flex justify-content-center">
                      <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Heading 1</h5>
                          <p class="card-text">some text</p>
                          <a href="#" class="btn btn-primary">a button</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-center">
                      <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Heading 2</h5>
                          <p class="card-text">some text</p>
                          <a href="#" class="btn btn-primary">a button</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-center">
                      <div class="card" style="width: 20rem;>
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Heading 2</h5>
                          <p class="card-text">some text</p>
                          <a href="#" class="btn btn-primary">a button</a>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
            <div class="col-lg-4">
                <h1 class="page-title" id="resources-title-1">recent</h1>
                <p>foidsajfklasdjf;lkdasjfkl;djaskfja;sfksa;jdlfjsdak;lfsljkadfadls;k
                foidsajfklasdjf;lkdasjfkl;djaskfja;sfksa;jdlfjsdak;lfsljkadfadls;k
                foidsajfklasdjf;lkdasjfkl;djaskfja;sfksa;jdlfjsdak;lfsljkadfadls;k
                foidsajfklasdjf;lkdasjfkl;djaskfja;sfksa;jdlfjsdak;lfsljkadfadls;k
                foidsajfklasdjf;lkdasjfkl;djaskfja;sfksa;jdlfjsdak;lfsljkadfadls;k
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}