{% extends "layout.html" %}

{% block title %}
Premier Advanced
{% endblock %}

{% block content %}

<section class="parallax-container parallax1">
    <h1>premier advanced</h1>
</section>

<h1 class="aboutus-heading"> draw </h1>

<br>

<div class="container-lg">

  <!-- begin accordion using row loop -->
<div class="accordion" id="AccordionFlushPremA">
  <!-- declare a variable to hold the value that is the accordion item title -->
{% set ns=namespace(round="") %}
  {% for row in draw %}

    {% if row['round'] != ns.round %}
      <!-- if the title variable is new this means that there is a new accordion item occurring -->
      <!-- set it to the current title -->
      {% set ns.round=row['round'] %}
        {% if loop.index0 != 0 %}
      <!-- if this is not the first iteration of the loop then I need to close the previous table -->
        </table>
        </div>
        </div>
        </div>
        {% endif %}
        <!-- create all the header material for each new accordion item -->
        <div class="accordion-item">
        <h2 class="accordion-header" id="panel-{{loop.index0}}">
        <button class="accordion-button collapsed ps-5" type="button" data-bs-toggle="collapse" data-bs-target="#Open-{{ loop.index0 }}">
        <h2 class="text-center w-100"> {{ns.round}} </h2>
        </button>
        </h2>
        <div id="Open-{{ loop.index0}}" class="accordion-collapse collapse">
        <div class="accordion-body">
        <table class=" table mx-auto text-center">
        <thead>
        <tr><th>Affirming</th><th>Negating</th><th>Winner</th></tr>
        </thead>
    {% endif %}
        <!-- write table data -->
        <tr><td>{{row['affirming']}}</td><td> {{row['negating']}}</td><td> {{row['winner']}}</td></tr>

          <!-- buttons for admin -->
            {% if session and session['authorisation'] == 0 %}
          <td> <a class="btn btn-primary recent-news-button" href="{{ url_for('draw_cud' , id=row['round_id'], task='update' ) }}" role="button">Edit</a></td>
            <td>
                <form action="{{ url_for('draw_cud', id=row['round_id'], task='delete' ) }}" method="POST">
                 <button type="submit" class="btn btn-primary recent-news-button">Delete</button>
                </form>
            </td>
            </tr>
            {% endif %}

    {% endfor %}
        <!-- loop is all done close off last accordion item -->
        </table>
        </div>
        </div>
        </div>

<!-- end of accordion -->
</div>

  <!-- end of container -->
</div>

{% endblock %}