{% extends "layout.html" %}

{% block title %}
Premier Advanced
{% endblock %}

{% block content %}

<section class="parallax-container parallax1">
    <h1>premier advanced</h1>
</section>

<h1 class="aboutus-heading"> draw </h1>

<br>

<div class="accordion accordion-flush" id="AccordionFlushPremA">

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingRoundOne">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRoundOne"
               aria-expanded="false" aria-controls="flush-collapseRoundOne">
        Round One
      </button>
    </h2>
    <div id="flush-collapseRoundOne" class="accordion-collapse collapse" aria-labelledby="flush-headingRoundOne" >
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
            <table class="table w-75 mx-auto">
              <tr><th> Round </th><th> Aff </th><th>Neg </th><th> Winner</th></tr>
              <tr><td> fdjlsak </td><td> fdjal </td><td> fdjakl </td><td> fdajkl </td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingRoundTwo">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRoundTwo"
               aria-expanded="false" aria-controls="flush-collapseRoundTwo">
        Round Two
      </button>
    </h2>
    <div id="flush-collapseRoundTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingRoundTwo" >
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
                    <table class="table w-75 mx-auto">


              <tr><th> Round </th><th> Aff </th><th>Neg </th><th> Winner</th></tr>
              <tr><td> fdjlsak </td><td> fdjal </td><td> fdjakl </td><td> fdajkl </td></tr>


            </table>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingRoundThree">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRoundThree"
               aria-expanded="false" aria-controls="flush-collapseRoundThree">
        Round Three
      </button>
    </h2>
    <div id="flush-collapseRoundThree" class="accordion-collapse collapse" aria-labelledby="flush-headingRoundThree" >
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
            put stuff here
            </div>
          </div>
        </div>
      </div>
  </div>



</div>


{% endblock %}