{% extends "layout.html" %}

{% block title %}
Resources
{% endblock %}

{% block content %}

<section class="parallax-container parallax3">
    <h1 class="parallax-text">resources</h1>
    <h1 class="parallax-subtitle">access resources here for students, teachers, coaches, or judges</h1>
</section>

<div class="quote">
        find resources to support your debating journey
</div>

<div class="accordion">

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
        students
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
            <div class="col-md-7">
              <img class="resources-img" src="/static/images/Resources_Hen.jpg" alt="Debater (Henry) speaking at a Premier A round">
            </div>
            <div class="col-md-5">
              <h1 class="page-title">links</h1>
              <a class="a-resources" href="https://www.asf.edu.mx/learning/events/asomex-debate-tournament/debating" target="_blank">ASF: Debating Guide</a>
              <p style="color:black;">– This is a debating guide from The American School Foundation. It gives a basic
              overview on debating, and is useful for beginner debaters.</p>
              <br>
              <a class="a-resources" href="https://www.youtube.com/watch?v=1TSkkxu8on0" target="_blank">Debating Skills - Introduction</a>
              <p style="color:black;">– This is a short video explaining the basics of debating, and how to construct
                a good argument.</p>
              <br>
              <a class="a-resources" href="https://www.youtube.com/@newzealandschoolsdebatingv4444" target="_blank">NZSDC Channel</a>
              <p style="color:black;">– This provides a link to the New Zealand Schools Debating Council (NZSDC) youtube channel.
              This channel contains previous National debates, which students can watch and learn from.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        teachers
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
            <div class="col-md-5">
              <h1 class="page-title">links</h1>
              <a class="a-resources" href="/static/NZSDC%20-%20Guide%20to%20starting%20debating%20at%20your%20school.docx" target="_blank">Setting Up Debating At Your School</a>
              <p style="color:black;">– This is a guide from NZSDC on how to set up a debating programme at your school.</p>
            </div>
            <div class="col-md-7">
              <img class="resources-img" src="/static/images/Resources_Supporters.jpg" alt="Wellington Black supporters at the NZSDC semifinals">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        coaches
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
            <div class="col-md-7">
              <img class="resources-img" src="/static/images/Resources_Arushi.jpg" alt="Debater (Arushi) speaking at Regionals">
            </div>
            <div class="col-md-5">
              <h1 class="page-title">links</h1>
              <a class="a-resources" href="https://ctdebate.org/PDFs/Training%20Your%20Team.pdf" target="_blank">Training Your Debate Team</a>
              <p style="color:black;">– Connecticut Debate Association has created a short guide for new coaches on how to train your debate team.</p>
              <br>
              <a class="a-resources" href="https://youtu.be/qroziCvWeio" target="_blank">What Does a Debate Coach Do?</a>
              <p style="color:black;">– A short video from Atlanta Debate Association on how to coach debating.</p>
              <br>
              <a class="a-resources" href="https://docs.google.com/document/d/1rEjgnZwY0SjKtUZ9ia-bCoX48HxZe4xocxv0gO_8Feo/edit" target="_blank">Coaching Resources from Around the World</a>
              <p style="color:black;">– WSU's collation of helpful activities, and other coaching resources to do with debating teams during training sessions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        judges
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="container-m container-fluid mx-auto w-75">
          <div class="row align-items-center">
            <div class="col-md-5">
              <h1 class="page-title">links</h1>
              <a class="a-resources" href="https://drive.google.com/file/d/1u5EQCSWDqQHbSppXxJchSO9rhC6tsj5a/view" target="_blank">WSU Judging Seminar</a>
              <p style="color:black;">– A judging seminar run by former WSU president Ailidh Leslie.</p>
              <br>
              <a class="a-resources" href="https://docs.google.com/presentation/d/0ByO_2mi2Lh5EQldKNVFMOFp3NVVWNFRvMHdaNmp0dGtncUtJ/edit?rtpof=true&resourcekey=0-6cKu1novO83A2oeH_rlpjA" target="_blank">Adjudicating Schools Debating</a>
              <p style="color:black;">– Google Presentation made by former WSU president Tamara Jenkins on how to adjudicate schools debating.</p>
              <br>
              <a class="a-resources" href="https://docs.google.com/document/d/0ByO_2mi2Lh5EaVV1TGpwRlZUVlN5akcxdlhZR0hoSjRxbFdv/edit?resourcekey=0-_1zafYoNr-F0nTLJkdkMYA#heading=h.gjdgxs" target="_blank">Coaching Resources from Around the World</a>
              <p style="color:black;">– Adjudication template for beginner adjudicators.</p>
            </div>
            <div class="col-md-7">
              <img class="resources-img" src="/static/images/Resources_Chloe.jpg" alt="Debater (Chloe) speaking at Nationals">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="contact" class="container-m container-fluid">
    <h1 class="aboutus-heading">contact us</h1>
</div>

<div  class="contactus-container">
  <form>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname">

    <label for="subject">Question</label>
    <textarea id="subject" name="subject" style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

{% endblock %}