{% extends "layout.html" %}

{% block title %}
Resources
{% endblock %}

{% block content %}

<section class="parallax-container" id="parallax2">
    <h1 class="page-header">resources</h1>
</section>

  <div class="container-m container-fluid">
  <div class="row align-items-center">
    <div class="col">
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>
    <div class="col">
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>
    <div class="w-100"></div>
    <div class="col">
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>
    <div class="col">
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>
  </div>
</div>

  </div>
</div>

{% endblock %}