{% extends "layout.html" %}

{% block title %}
Resources
{% endblock %}

{% block content %}

<section class="parallax-container" id="parallax2">
    <h1 class="page-header">resources</h1>
</section>

<div class="container-m container-fluid">

<div class="grid-container">
    <div>
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
        <h1 class="page-subheading" id="resources-title-1">hello</h1>
    </div>
    <div>
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>
    <div>
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>
    <div>
        <img class="resources-img" src="static/images/HenSpeaking2 - Edited.png">
    </div>

</div>

</div>

{% endblock %}