{% extends "layout.html" %}

{% block title %}
Schedule
{% endblock %}

{% block content %}
<div class="recent-news-containers white-bg">

  <div class="news p-4 my-4">
    <h2>Please enter/update your schedule item</h2>
    <form action="{{url_for('schedule_cud', id=id, task=task)}}" method="POST">
      <div>
        <label for="event" class="form-label">Event</label>
        <input type="text" class="form-control" id="event" name="event" placeholder="" value="{{event}}" required>
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4" required>{{description}}</textarea>
      </div>
      <div>
        <label for="scheduledate" class="form-label">Date and Time</label>
        <input id="scheduledate"
               class="form-control"
               type="datetime-local"
               name="scheduledate"
               min="2023-01-01T00:00"
               max="2024-01-01T00:00"
               value = "{{scheduledate}}"
               required />
      </div>
      <br>
      <div>
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="" value="{{location}}" required>
      </div>
      <div class="text-end">
        <button type="reset" class="btn btn-primary recent-news-button">Reset</button>
        <button type="submit" class="btn btn-primary recent-news-button">Submit</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}