{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div class="container-m">
    <h2 class="form-header"> <span> Sign Up </span> </h2>
    <br>
    <p class="recent-news-text">
        Sign up the Wellington Speaking Union to interact with the website, and access exclusive resources for members.
    </p>
</div>

<div class="form-container p-5">
  <form action="{{ url_for('signup') }}" method="POST">

    <div>
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter Name" value="{{firstname}}" required >
    </div>

    <div>
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Name" value="{{lastname}}" required >
    </div>

    <div>
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" value="{{email}}" required >
    </div>

    <br>

    <div>
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Create your password" value="{{password}}" required >
    </div>

    <br>

    <div class="text-end">
      <button type="reset" class="btn btn-primary recent-news-button">reset</button>
      <button type="submit" class="btn btn-primary recent-news-button">submit</button>
    </div>
  </form>

</div>

{% endblock %}
