{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div class="container-m">
  <p class="recent-news-text">
    Sign up the Wellington Speaking Union to interact with the website, and access exclusive resources for members.
  </p>
</div>

<div class="container-m">
  <form>
    <div>
      <label></label>
    </div>

    <div class="text-end">
      <button type="reset" class="btn btn-primary recent-news-button">reset</button>
      <button type="submit" class="btn btn-primary recent-news-button">reset</button>
    </div>
  </form>
</div>

{% endblock %}
